{{#if Tutor}}
<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-6 pt-4 pl-5" style="color: white;">
                <i class="fas fa-map-marker-alt"></i> : Perinthalmanna <br>
                <i class="fas fa-phone-square-alt"></i> : 04933222349 <br>
                <i class="fas fa-envelope-square"></i> : company@example.com

            </div>
            <div class="col-6 pt-4 pl-5">
                <h5>About Us :</h5><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
            </div>
        </div>
    </div>
</footer>
{{else Student}}<footer>
    <div class="container footer">
        <div class="row">
            <div class="col-6 pt-4 pl-5" style="color: white;">
                <i class="fas fa-map-marker-alt"></i> : Perinthalmanna <br>
                <i class="fas fa-phone-square-alt"></i> : 04933222349 <br>
                <i class="fas fa-envelope-square"></i> : company@example.com

            </div>
            <div class="col-6 pt-4 pl-5">
                <h5>About Us :</h5><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
            </div>
        </div>
    </div>
</footer>
{{/if}}