{{#if Student}}
<header>

  <div class="sidenav">
    {{#each students}}
    <span>
      {{#if Present}}
      <img src="/images/14491031-655b-4690-b3c8-f3403537a9a8_200x200.png" style="height: 11px;width: 11px;" alt="">
      {{else}}
      <img src="/images/offline.png" style="height: 11px; width:11px;;" alt="">


      {{/if}}
    </span>
    <a href="#about">{{this.Sname}}


      <img class="rounded-circle" src="/Student-Pic/{{this._id}}.jpg" alt="">
    </a>
    {{/each}}
    <hr>
    <a href="/StudentIn">Home</a>
    <hr>
    <a href="/Daily-task">Today's Task</a>
    <hr>
    <a href="/Notes">Notes</a>
    <hr>
    <a href="/Attendance">Attendance</a>
    <hr>
    <a href="/Assignments">Assignments<span class="badge badge-success" id="cartCount">{{assignmentCount}}</span></a>
    <hr>

    <a href="/Announcement">Announcement</a>

    <hr>
    <a href="/Profile">Profile</a>
    <hr>
    <a href="/gallary">Gallary</a>
    <hr>
    <a href="/Logout" style="color: red; font-weight: 500;">Logout</a>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light ">

    <a class="navbar-brand" href="/tutor/tutorIn"><img src="/images/14df067f-1881-4ae9-bdbc-e63a69fd4c91_200x200.png"
        alt="" style="height: 4rem;"></a>



    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

      <ul class="navbar-nav " style="margin-left: 90%;">



      </ul>







</header>

{{/if}}