<section>
   <div class="home">

      <div class="container">

         <div class="row">

            <div class="col-md-6">
               <a href="/tutor/Login">
                  <div class="img">
                     <img src="https://webstockreview.net/images/clipart-teacher-2.png" class="rounded-circle"
                        style="height: ;">
                     <h1>TUTOR </h1>
                  </div>

               </a>
            </div>
            <div class="col-md-6">
               <a href="Login">
                  <div class="img">
                     <img
                        src="https://png.pngtree.com/element_our/20200703/ourlarge/pngtree-students-review-hard-for-class-exams-image_2300311.jpg"
                        class="rounded-circle" class="rounded-circle">
                     <h1>STUDENT </h1>

               </a>
            </div>
         </div>

      </div>
   </div>
   </div>
</section>