<section>
  <div class="container profile">
    <div class="jumbotron mt-5">
      <h1 class="display-4 text-center"> Registration canceled..</h1>
      <div class="text-center">
      </div>
      </p>
    </div>
  </div>
</section>