<section>
  <div class="container backdrop">
    <div class="jumbotron mt-5">
      <h1 class="display-4 text-center"> Successfully Registered</h1>
      <div class="text-center">
      </div>
      </p>
    </div>
  </div>
</section>